<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/mapbox-gl/mapbox-gl.html">
<link rel="import" href="../bower_components/mapbox-gl/mapbox-heatmap-layer.html">
<link rel="import" href="../bower_components/mapbox-gl/geojson-source.html">
<link rel="import" href="../bower_components/mapbox-gl/mapbox-layer.html">
<link rel="import" href="../bower_components/mapbox-gl/mapbox-gl-control.html">
<link rel="import" href="../bower_components/mapbox-gl/mapbox-gl-popup.html">
<link rel="import" href="../bower_components/mapbox-gl/mapbox-gl-marker.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="shared-styles.html">
<dom-module id="map-component">
    <template>
        <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      mapbox-gl {
        height: 400px;
        width: 100%;
      }
        </style>


    <iron-ajax id="userAPI" 
                   url="http://localhost:3000/api/clients" 
                   method="get"
                   header='{"Access-Control-Allow-Origin": "http://localhost:3000"}'
                   handle-as="json"
                   last-response="{{data}}" 
                   auto
                   ></iron-ajax>
    
    <mapbox-gl interactive 
                access-token="[[key]]" 
                map="{{map}}" 
                map-style-url="mapbox://styles/mapbox/streets-v10" 
                latitude="19.40995747013945"
                longitude="-99.38179687498357" zoom="8">
    </mapbox-gl>

    <geojson-source map="[[map]]" source-id="puntos" source-url="geojson/alcadiasV2.geojson"></geojson-source>

   
    <mapbox-layer
        layer-id="layer_points"
        rendering-type="circle"
        source="puntos"
        color="rgb(0,0,255)"
    ></mapbox-layer>
    </template>

    <script>
        class MapComponent extends Polymer.Element {
            static get is() {
                return 'map-component';
            }

            static get properties() {
                return {
                    key: String,
                    levels: Array,
                    longitude: Number,
                    latitude: Number
                }
            }

            ready() {
                super.ready();
                this.key = 'pk.eyJ1Ijoibm94dXMiLCJhIjoiY2pzcnJ1NzV5MWxnNTN5cDFlM2gyZTJlZSJ9.lTK_f67yycxS072BGKQYaw';
                this.levels = [{
                    'count': 1,
                    'color': '#EEEEEE',
                    'radius': 5
                }, {
                    'count': 5,
                    'radius': 20,
                    'color': '#4CAF50'
                }, {
                    'count': 8,
                    'color': '#FFC107'
                }, {
                    'count': 10,
                    'color': '#F44336'
                }]
            }

        }
        window.customElements.define(MapComponent.is, MapComponent);
    </script>
</dom-module>