<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="movements-component">
    <template>
        <style>
            :host{
                display: block;
            }
        </style>

    <iron-ajax
        id="movementsAPI"
        url="http://localhost:3000/api/movements"
        handle-as="json"
        loading="{{loading}}"
        method="POST"
        content-type="application/json"
        on-response="sendResponse"
        on-error="errorResponse"
    ></iron-ajax>

    <paper-dialog id="confirm">
        <paper-spinner 
            id="spinner"
            alt="Registrando Movimiento..." 
            active="[[loading]]"
        ></paper-spinner>
        <p>Realizando petición</p>
        <div class="buttons">
            <paper-button dialog-confirm>Entendido!</paper-button>
        </div>
    </paper-dialog>

    <paper-dialog id="cantidadModal">
        <p>la cantidad de productos no puede ser cero</p>
        <div class="buttons">
            <paper-button dialog-confirm>Entendido!</paper-button>
        </div>
    </paper-dialog>

    <paper-dialog id="productosModal">
        <p>Debe selccionar un producto</p>
        <div class="buttons">
            <paper-button dialog-confirm>Entendido!</paper-button>
        </div>
    </paper-dialog>
      
        <paper-card style="width: 50%; left:25%;">
            <div class="card-content">
                
                <paper-input
                    id="email"
                    label="email"
                    disabled
                    value="[[email]]"
                ></paper-input>

                <paper-input
                    label="Fecha"
                    disabled 
                    value="[[date]]"
                ></paper-input>

                <div>cantidad</div>
                <paper-slider
                    id="cantidad"
                    pin
                    snaps
                    max="10"
                    max-markers="10"
                    step="1"
                    value="2"
                ></paper-slider>
                

                <paper-dropdown-menu id="productos" label="Productos">
                    <paper-listbox slot="dropdown-content" style="width:100%">
                        <paper-item>Mouse</paper-item>
                        <paper-item>Teclado</paper-item>
                        <paper-item>Pulque</paper-item>
                        <paper-item>Laptop</paper-item>
                    </paper-listbox>
                </paper-dropdown-menu>

                <paper-input
                    id="costo"
                    label="Costo"
                    disabled
                    value="[[cost]]"
                    style="width: 50%"
                ></paper-input>

                <paper-button
                    id="movements"
                    raised
                    style="left:40%; top:2%;"
                    on-click="_save"
                >
                    Proceder
                </paper-button>


            </div>      
        </paper-card>
            
    </template>
    <script>
        class MovementsComponent extends Polymer.Element {
            static get is() {
                return 'movements-component'
            }

            static get properties() {
                return {
                    email: String,
                    date: {
                        type: Date,
                        value: new Date()
                    },
                    status: {
                        type: String,
                        value: 'Alta'
                    },
                    quantity: Number,
                    product: String,
                    cost: {
                        type: Number,
                        value: 10
                    },
                    loading: Boolean
                }
            }

            _save() {
                this.quantity = this.$.cantidad.value;
                this.product = this.$.productos.value;
                var obj = {
                    email: this.email,
                    date: this.date,
                    type: this.status,
                    quantity: this.quantity,
                    product: this.product,
                    cost: this.cost
                };


                if (obj.product == undefined) {
                    this.$.productosModal.open();
                }
                if (obj.quantity === 0) {
                    this.$.cantidadModal.open();
                }

                if (obj.product != undefined && obj.quantity != 0) {
                    console.log(obj);
                    this.$.confirm.open();
                    this.$.movementsAPI.body = obj;
                    this.$.movementsAPI.generateRequest();
                }


            }

            sendResponse(e, request) {
                if (request.succeeded) {
                    console.log('la solicitud se resolvió correctamente con código ' + request.status);
                } else {
                    console.log('la solicitud nos ofreció resultados incorrectos, con código ' + request.status);
                }
            }

            errorResponse(e, error) {
                console.log("Error: " + error.request.status);
            }

        }
        window.customElements.define(MovementsComponent.is, MovementsComponent);
    </script>
</dom-module>