<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="movements-table">
    <template>
        <style>
        body {
            background: skyblue;
        }
        
        table {
            width: 100%;
            margin: auto;
            text-align: center;
            table-layout: fixed;
        }
        
        table,
        tr,
        th,
        td {
            padding: 20px;
            color: white;
            border: 1px solid #080808;
            border-collapse: collapse;
            font-size: 18px;
            font-family: Arial;
            background: linear-gradient(top, #3c3c3c 0%, #222222 100%);
            background: -webkit-linear-gradient(top, #3c3c3c 0%, #006EC1 100%);
        }
        
        td:hover {
            background: rgb(4, 0, 236);
        }
        </style>

        <iron-ajax
            id="userAPI"
            auto
            url="http://localhost:3000/api/movements/[[email]]"
            method="GET"
            headers='{"Access-Control-Allow-Origin" : "http://localhost:3000"}'
            handle-as="json"
            last-response="{{data}}"
        ></iron-ajax>

        <div>
             
        <table>
            <tbody>
                <tr>
                    <th>Email</th>
                    <th>Fecha</th>
                    <th>Estatus</th>
                    <th>Cantidad</th>
                    <th>Producto</th>
                    <th>Costo</th>
                    <th>Total</th>
                </tr>
                <template is="dom-repeat" items="[[data]]">
                <tr>
                    <td>[[item.email]]</td>
                    <td>[[item.date]]</td>
                    <td>[[item.type]]</td>
                    <td>[[item.quantity]]</td>
                    <td>[[item.product]]</td>
                    <td>$[[item.cost]]</td>
                    <td>$[[item.total]]</td>
                </tr>
                </template>
    </tbody>
    </table>

    </div>


    </template>
    <script>
        class MovementsTable extends Polymer.Element {
            static get is() {
                return 'movements-table';
            }

            static get properties() {
                return {
                    email: String
                }
            }
        }
        window.customElements.define(MovementsTable.is, MovementsTable);
    </script>
</dom-module>