<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="oktli-home">
    <template>
        <style>
        :host{
            display: block;
        }

        header {
            @apply --layout-vertical;
            @apply --layout-center-center;
            height: calc(100vh - 64px);
            padding: 0 16px;
            background-image: url('http://web.ecologia.unam.mx/oikos3.0/images/18/04Fig01.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
            text-align: center;
        }
        </style>

    <header>
        <h2>Oktli -- App</h2>
        <p>La pulcata</p>
    </header>

    </template>

    <script>
        class OktliHome extends Polymer.Element {
            static get is() {
                return 'oktli-home'
            }
        }
        window.customElements.define(OktliHome.is, OktliHome);
    </script>

</dom-module>