<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="pricing-tables">
    <template>
        <style>
        body {
            margin: 0;
            padding: 0;
            background: #f1f1f1;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        .pt {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 960px;
        }

        .box {
            width: 300px;
            font-family: sans-serif;
            overflow: hidden;
            background: #212527;
            color: white;
            float: left;
            margin: 10px;
        }

        .header {
            margin: 0;
            text-align: center;
            padding: 10px;
            text-transform: uppercase;
        }

        .cash {
            border-bottom: 1px solid #3e4e56;
            padding: 30px 0;
            text-align: center;
            font-size: 24px;
        }

        .cash span {
            font-size: 65px;
            display: block;
        }

        li {
            border-bottom: 1px solid #3e4e56;
            padding: 10px;
            text-align: center;
        }

        li a {
            text-decoration: none;
            color: white;
            font-size: 18px;
            text-transform: uppercase;
            padding: 10px;
            display: block;
            transition: 0.3s all;
        }

        li a:hover {
            color: #676565;
        }
        </style>
        
        <div class="pt">
                <div class="box">
                    <h2 class="header" style="background: #2196F3;">Simple[[title]]</h2>
                    <ul>
                        <li class="cash"><span>$29.99[[price]]</span> per month</li>
                        <li>Free Account</li>
                        <li>[[emails]]15 Email Account</li>
                        <li>[[spaces]] Gb Space</li>
                        <li>[[domains]] Domain Name</li>
                        <li><a>[[prox]]</a></li>
                    </ul>
                </div>
                <div class="box">
                    <h2 class="header" style="background: #FFC107;">Standard[[title]]</h2>
                    <ul>
                        <li class="cash"><span>$29.99[[price]]</span> per month</li>
                        <li>Free Account</li>
                        <li>[[emails]]15 Email Account</li>
                        <li>[[spaces]] Gb Space</li>
                        <li>[[domains]] Domain Name</li>
                        <li><a>[[prox]]</a></li>
                    </ul>
                </div>
                <div class="box">
                    <h2 class="header" style="background: #F44336;">Ultimate[[title]]</h2>
                    <ul>
                        <li class="cash"><span>$29.99[[price]]</span> per month</li>
                        <li>Free Account</li>
                        <li>[[emails]]15 Email Account</li>
                        <li>[[spaces]] Gb Space</li>
                        <li>[[domains]] Domain Name</li>
                        <li><a>[[prox]]</a></li>
                    </ul>
                </div>
            </div>
    </template>

    <script>
        class PricingTables extends Polymer.Element {
            static get is() {
                return 'pricing-tables'
            }

            static get properties() {
                return {
                    title: String,
                    price: Number,
                    emails: Number,
                    spaces: Number,
                    domains: Number,
                    prox: {
                        type: String,
                        value: 'Proximamente'
                    }
                };
            }

        }
        window.customElements.define(PricingTables.is, PricingTables);
    </script>

</dom-module>