<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<dom-module id="register-component">
    <template>
        <style>
        body {
            margin: 0;
            padding: 0;
            background: #487eb0;
        }

        .signup-form {
            width: 300px;
            padding: 20px;
            text-align: center;
    
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            overflow: hidden;
        }

        .signup-form h1 {
            margin-top: 100px;
            font-family: 'Permanent Marker', cursive;
            color: #fff;
            font-size: 40px;
        }

        .signup-form input {
            display: block;
            width: 100%;
            padding: 0 16px;
            height: 44px;
            text-align: center;
            box-sizing: border-box;
            outline: none;
            border: none;
            font-family: "montserrat", sans-serif;
        }

        .txtb {
            margin: 20px 0;
            background: rgba(255, 255, 255, .5);
            border-radius: 6px;
        }

        .signup-btn {
            margin-top: 60px;
            margin-bottom: 20px;
            background: #487eb0;
            color: #fff;
            border-radius: 44px;
            cursor: pointer;
            transition: 0.8s;
        }

        .signup-btn:hover {
            transform: scale(0.96);
        }

        .signup-form a {
            text-decoration: none;
            color: #fff;
            font-family: "montserrat", sans-serif;
            font-size: 14px;
            padding: 10px;
            transition: 0.8s;
            display: block;
        }

        .signup-form a:hover {
            background: rgba(0, 0, 0, .3);
        }
        
        </style>

        <iron-ajax
            id="ajaxSign"
            url="http://localhost:3000/api/clients"
            handle-as="json"
            loading="{{cargando}}"
            method="POST"
            content-type="application/json"
            on-response="sendResponse"
            on-error="errorResponse"
        ></iron-ajax>

        

        <paper-dialog id="confirm">
            <paper-spinner 
                id="spinner"
                alt="Cargando al usuario..." 
                active="[[cargando]]"
            ></paper-spinner>
            <p>Realizando petición</p>
            <div class="buttons">
                <paper-button dialog-confirm>Entendido!</paper-button>
            </div>
        </paper-dialog>

        <paper-dialog id="modal">
            <p>Ingrese todos los campos por favor</p>
            <div class="buttons">
                <paper-button dialog-confirm>Entendido!</paper-button>
            </div>
        </paper-dialog>

    <body>
        <div class="signup-form">
            <form  action="" method="post" style="background: url(images/bg.png)">
                <h1>Sign Up</h1>
                <input type="text" placeholder="Full Name" class="txtb"  value="{{fullname::input}}" required>
                <input type="email" placeholder="Email" class="txtb" value="{{email::input}}" required>
                <input type="password" placeholder="Password" class="txtb" value="{{pass::input}}" required >
                <input value="Create Account" class="signup-btn" on-click="_save">
                <a href="#">Already Have one ?</a>
            </form>
        </div>
    </body>
        
    </template>
    <script>
        class RegisterComponent extends Polymer.Element {
            static get is() {
                return 'register-component';
            }

            static get properties() {
                return {
                    fullname: {
                        type: String,
                        value: ''
                    },
                    email: {
                        type: String,
                        value: ''
                    },
                    pass: {
                        type: String,
                        value: ''
                    },
                    genre: {
                        type: String,
                        value: 'male'
                    },
                    latitude: {
                        type: Number,
                        value: 19.40995747013945

                    },
                    longitude: {
                        type: Number,
                        value: -99.38179687498357
                    },
                    cargando: Boolean,

                }

            }

            _save() {
                var obj = {
                    name: this.fullname,
                    email: this.email,
                    genre: this.genre,
                    latitude: this.latitude,
                    longitude: this.longitude
                };

                if (obj.name === "" || obj.email === "" || this.pass === "") {
                    this.$.modal.open();
                } else {
                    console.log(obj);
                    this.$.confirm.open();
                    this.$.ajaxSign.body = obj;
                    this.$.ajaxSign.generateRequest();
                }


            }

            sendResponse(e, request) {
                if (request.succeeded) {
                    console.log('la solicitud se resolvió correctamente con código ' + request.status);
                } else {
                    console.log('la solicitud nos ofreció resultados incorrectos, con código ' + request.status);
                }
            }

            errorResponse(e, error) {
                console.log("Error: " + error.request.status);
            }
        }
        window.customElements.define(RegisterComponent.is, RegisterComponent);
    </script>
</dom-module>