<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-data-table/iron-data-table.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-data-table/data-table-column.html">
<link rel="import" href="../bower_components/paper-datatable/paper-datatable-column.html">
<link rel="import" href="../bower_components/paper-datatable/paper-datatable-card.html">
<dom-module id="user-table">
    <template>
        <style>
            body {
            background: skyblue;
        }
        
        table {
            width: 100%;
            margin: auto;
            text-align: center;
            table-layout: fixed;
        }
        
        table,
        tr,
        th,
        td {
            padding: 20px;
            color: white;
            border: 1px solid #080808;
            border-collapse: collapse;
            font-size: 18px;
            font-family: Arial;
            background: linear-gradient(top, #3c3c3c 0%, #222222 100%);
            background: -webkit-linear-gradient(top, #3c3c3c 0%, #006EC1 100%);
        }
        
        td:hover {
            background: rgb(4, 0, 236);
        }
        </style>

        <iron-ajax
            id="userAPI"
            auto
            url="http://localhost:3000/api/clients"
            method="GET"
            headers='{"Access-Control-Allow-Origin" : "http://localhost:3000"}'
            handle-as="json"
            last-response="{{data}}"
        ></iron-ajax>

        <div>
             
            <table>
                <tbody>
                        <tr>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Genero</th>
                        </tr>
                    <template is="dom-repeat" items="[[data]]">
                        <tr>
                            <td>[[item.name]]</td>
                            <td>[[item.email]]</td>
                            <td>[[item.genre]]</td>
                        </tr>
                    </template>
    </tbody>
    </table>

    </div>

    </template>
    <script>
        class UserTable extends Polymer.Element {
            static get is() {
                return 'user-table';
            }

            static get properties() {
                return {}
            }

        }
        window.customElements.define(UserTable.is, UserTable)
    </script>
</dom-module>